<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="siteBase" class="java.net.URI">
		<constructor-arg value="http://10.9.0.228/users/sign_in" />
	</bean>

	<bean id="driver" class="org.openqa.selenium.firefox.FirefoxDriver" destroy-method="quit"/>
</beans>